<h2>Pending Deliveries</h2>
<p><b>Kit ID:</b> 4721</p>


<h4>History</h4>
<table>
 <thead>
  <tr>
   <th>Date</th>
   <th>State</th>
   <th>Location</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td></td>
   <td></td>
   <td></td>
  </tr>
 </tbody>
</table>

<h4>Usage</h4>
<table>
 <thead>
  <tr>
   <th>Carton</th>
   <th>Status</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>1</td>
   <td>openned on May 1, 2011</td>
  </tr>
  <tr>
   <td>2</td>
   <td>openned on June 2, 2011</td>
  </tr>
 </tbody>
</table>
