<h2>Ship a Kit</h2>
<form method="post" action="/kit/ship/">{% csrf_token %}
 <div class="input select">
  <label>Kit Type:</label>
  <select name="kit_type">
  {% for kit_type in kit_types %}
   <option value="{{ kit_type.pk }}">{{ kit_type }}</option>
  {% endfor %}
  </select>
 </div>
 <div class="input text">
  <label>Date Shipped:</label>
  <input type="text" name="date_shipped" />
 </div>
 <div class="input select">
  <label>Start Location:</label>
  <select name="start_location">
  {% for location in locations %}
   <option value="{{ location.pk }}">{{ location }}</option>
  {% endfor %}
  </select>
 </div>
 <div class="input text">
  <label>Estimated Delivery Date:</label>
  <input type="text" name="estimated_delivery_date" />
 </div>
 <div class="input select">
  <label>Destination:</label>
  <select name="destination">
  {% for location in locations %}
   <option value="{{ location.pk }}">{{ location }}</option>
  {% endfor %}
  </select>
 </div>
 <div class="submit">
  <input type="submit" value="Ship" />
 </div>
</form>
 
 
 
