{% include 'header.html' %}

<h2>Update Kit Progress</h2>
<form action="/kit/{{ kit_id }}/progress" method="post">{% csrf_token %}
 <p><b>Kit ID:</b> {{ kit_id }}</p>
 <div class="input text">
  <label>Date:</label>
  <input type="text" name="date" />
 </div>
 <div class="input select">
  <label>Location:</label>
  <select name="location">
  {% for location in locations %}
   <option value="{{ location.pk }}">{{ location }}</option>
  {% endfor %}
  </select>
 </div>
 <div class="input select">
  <label>State:</label>
  <select name="state">
  {% for state in kit_states %}
   <option value="{{ state.pk }}">{{ state }}</option>
  {% endfor %}
  </select>
 </div>
 <div class="submit">
  <input type="submit" value="Record" />
 </div>
</form>

{% include 'footer.html' %}
