{% block content %}

<h2>Pending Deliveries</h2>
<p><b>Kit ID:</b> {{ kit.get_id }}</p>
<h4>History</h4>
<table>
 <thead>
  <tr>
   <th>Date</th><th>State</th><th>Location</th>
  </tr>
 </thead>
 <tbody>
{% for history in kit_history %}
  <tr>
   <td>{{ kit_history.date }}</td><td>{{ kit_history.state.name }}</td><td>{{ kit_history.location }}</td>
  </tr>
{% endfor %}
 </tbody>
</table>

<h4>Usage</h4>
<table>
 <thead>
  <tr>
   <th>Carton</th>
   <th>Status</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>1</td>
   <td>openned on May 1, 2011</td>
  </tr>
  <tr>
   <td>2</td>
   <td>openned on June 2, 2011</td>
  </tr>
 </tbody>
</table>
{% endblock %}
