<h2>Pending Deliveries</h2>
<p><b>Location:</b> Calgary, AB</p>

<table>
 <thead>
  <tr>
   <th rowspan="2">Kit</th>
   <th colspan="2">Start</th>
   <th colspan="2">Destination</th>
   <th colspan="2">Lastest</th>
  </tr>
  <tr>
   <th>Date</th>
   <th>Location</th>
   <th>Date</th>
   <th>Location</th>
   <th>Date</th>
   <th>Location</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><a href="/kit/ID/">ID</a></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
 </tbody>
</table>
