body, table {
	font-family: Arial;
	font-size: 12px;
	margin: 0;
}

h1 {
	margin-top: 4px;
	border-top: 8px solid #000066;
	border-bottom: 8px solid #000066;
	padding-left: 8px;
}
.menu {
	padding: 0;
	margin: 4px 0;
	height: 20px;
	list-style-type: none;
}
.menu li {
	float: left;
	padding: 0 20px;
	border-right: 1px solid #000066;
}

.input label {
	width: 150px;
	float: left;
}
.input {
	width: 450px;
	padding-bottom: 4px;
	border-bottom: 1px solid #CCCCCC;
	padding-top: 4px;
}
div.submit {
	margin-left: 150px;
}

.footer {
	border-top: 4px solid #3333FF;
	border-bottom: 4px solid #3333FF;
	padding: 8px;
	margin-bottom: 4px;
}
